.vote-li{
    background-color: #cdcdcd;
}
.vote-li:hover{
    border: 1px solid ;
    background-color: #cdcdcd;
}

/* ElectionList component  */
.pop-bg{
    position: relative;
}

/* VotingElection component */
.pop-up{
    position: fixed;
    top: 20%;
    left: 25%;
}

/* hero card */
.hero-card-n{
    font-size: 50px;
    margin-bottom: 7.5px;
}
.hero-card:hover .hero-card-n{
    font-size: 55px;
    margin-bottom: 0px;
}